* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  body {
    background-color: rgb(17, 16, 13);
    margin: 150px;
    color: #146ec9;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: rgb(45, 8, 206);
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }

  span{
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }